#quote-box {
  background-color: white;
  border-radius: 10px;
  max-width: 550px;
  margin: 0 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 20% 30%;


  #text {
    font-size: 1.6rem;
    font-weight: 500;
    grid-column: 1 / 3;
    text-align: center;
    place-self: center;
    color: inherit;
    margin: 4rem 1rem 2rem 1rem;
  }

  #quoteIcon {
    place-self: center start;
    margin-right: 1rem;
    font-size: 2rem;
  }

  #author {
    grid-column: 1 / 3;
    place-self: center;
    color: inherit;
  }

  #author::before {
    content: '- ';
  }

  #icons {
    margin-left: 1rem;
    place-self: center start;
  }

  #twitterIcon {
    height: 40px;
    width: 40px;
  }

  #tumblrIcon {
    height: 40px;
    width: 40px;
  }

  #new-quote {
    color: white;
    font-weight: 600;
    place-self: center end;
    margin-right: 1rem;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

//animation for the text inside quote-box
.animatedOpacity {
  animation: smoothQuoteChange 1s;
}

@keyframes smoothQuoteChange {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}